/* Ignore following classes */

* {
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
  }
  
  #intro {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
  }
  
  .insideborder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .para {
    font-weight: 300;
    margin-left: 10px;
  }
  
  h2 {
    font-size: medium;
    font-weight: 200;
  }
  
  /* Classes that you might find useful */
  /* Note* These classes do not cover every possible case to build you flags, you will have to continue to add your own*/

  .eagle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  img {
    height: 35%;
    width: auto;
    background-color: white;
  }

  .flag {
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
  }

  .horiz {
    display: flex;
    flex-direction: row;
  }
  
  .twovert {
    height: 50%;
  }
  
  .threevert {
    height: 33.3%;
  }
  
  .threehoriz {
    width: 33.3%;
  }

  .threehoris {
    z-index: 2;
    width: 33.3%;
  }
  
  .squaretop {
    height: 55.55%;
    display: flex;
  }

  .greeceleft{
    height: 40%;
    display: flex;
  }

  .squareleft {
    width: 33.33%;
  }

  .squareright{
    width: 66.7%;
  }

  .square{
    width: 38%;
  }

  .line{
    width: 24%;
  }

  .fivelines{
    height: 20%;
  }

  .middle{
    height: 20%;
  }

  .ninelines{
    height: 11.1%;
  }

  .ontop {
    z-index: 1;
    height: 10%;
    width: 30%;
  }

  .skinny {
    height: 17.5%;
  }
  
  .fat {
    height: 30%;
  }
  
  .circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: 85px;
    top: 50px;
  }
  
  /* Colors/ Feel free to add your own! */
  
  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .lightblue {
    background-color: lightblue;
  }
  
  .purple {
    background-color: purple;
  }
  
  .white {
    background-color: #fff;
  }